@{
    ViewBag.Title = "Home Page";
}

<section class="mui-container" style="min-height: 100vh;">
    <div class="mui-row">
        <div class="mui-col-md-4 foopBox mui-panel"><p>Here goes 1-time form request</p></div>
        <div class="mui-col-md-4 mui-col-md-offset-4 mui-panel newOpAppBox"><p>Here goes new application start</p></div>
    </div>
    <div class="mui-row">
        <div class="mui-col-md-4 mui-panel opStatesBox"><p>Here goes states list</p></div>
        <div class="mui-col-md-4 mui-col-md-offset-4 mui-panel notifWindowBox"><p>Here goes notifications</p></div>
    </div>
</section>